
<div class="container-fluid">
  <div class="row">

    <div class="col-md-8 col-md-offset-2">
      <%= link_to  new_payment_path do %>
          <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Payment
          </button>
      <% end %>

    </div>

  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= link_to  payments_path do %>
        <button type="button" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Show Payments
        </button>
      <% end %>
    </div>

  </div>

</div>
